version: "3.8"

services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_USER: ragaton
      POSTGRES_PASSWORD: ragatonpwd
      POSTGRES_DB: ragaton
    volumes:
      - ./pgdata:/var/lib/postgresql
    ports:
      - "5432:5432"

  chromadb:
    image: chromadb/chroma:latest
    environment:
      IS_PERSISTENT: "TRUE"
      ANONYMIZED_TELEMETRY: "FALSE"
    volumes:
      - ./chroma:/data
    ports:
      - "8000:8000"
  whisper:
    image: heimoshuiyu/whisper-fastapi:latest
    command: --model small
    tmpfs:
      - /tmp
    volumes:
      - ./whisper:/root/.cache/huggingface
    ports:
      - "5000:5000"
    security_opt:
      - label=disable
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu ]
